body {
    background-color: black;
    background-image: url(teatteri3.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}

h1 {
    text-decoration-line: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.box {
    margin: auto;
    text-align: center;
    height: fit-content;
    width: fit-content;
    padding: 25px 25px 25px;
    border-radius: 25px;
    border-style: double;
    background-color: rgb(255, 217, 0);
    font-family: 'Times New Roman', Times, serif;

}

button {
    margin: auto;
    text-align: center;
    padding: 10px 10px 10px;
    background: black;
    color: gold;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}

button:hover {
    background-color: goldenrod;
    margin: auto;
    text-align: center;
    padding-bottom: 3px;
}

li {
    list-style: none;
    padding: bottom 5px;
}

table {
    margin: auto;
    text-align: center;
    font-size: large;
    width: min-content;
    grid-template-columns: auto;
}